extends ../partials/layout-components

//- Override default config variables
append config
  - var vendorStyles = ['prismjs/themes/prism.css', 'prismjs/plugins/toolbar/prism-toolbar.css', 'prismjs/plugins/line-numbers/prism-line-numbers.css', 'tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['prismjs/components/prism-core.min.js', 'prismjs/components/prism-markup.min.js', 'prismjs/components/prism-clike.min.js', 'prismjs/components/prism-javascript.min.js', 'prismjs/components/prism-pug.min.js', 'prismjs/plugins/toolbar/prism-toolbar.min.js', 'prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js', 'prismjs/plugins/line-numbers/prism-line-numbers.min.js', 'tiny-slider/dist/min/tiny-slider.js']
  - var pageTitle = 'Cards: Advanced'
  - var pageSubtitle = 'Advanced use cases of card component.'
  - var isPageTitleBadge = true
  - var anchorNav = [{'title': 'Event card', 'link': '#card-event'}]

//- Page Content
block content

  // Static content overlay
  section#card-event.pb-5.mb-md-2
    h2.h5.mb-3 Event card
    .card.border-0.shadow-sm
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result1a' data-bs-toggle='tab' role='tab' aria-controls='result1a' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html1a' data-bs-toggle='tab' role='tab' aria-controls='html1a' aria-selected='false').nav-link HTML
      .card-body
        .tab-content
          #result1a.tab-pane.fade.show.active(role='tabpanel')
            .card.card-event
              .card-body
                .card-status.card-status-upcoming
                  span.badge.bg-info Upcoming
                .h5.card-title Oxygen Transport and Monitoring
                .card-meta
                  .card-date-time July 12, 2021, 12:00 p.m.
                .card-text
                  a(href='#').card-channel Neonatology Case Conference and ECMO/iNO/Advanced Respiratory Ventilation Conference
              .card-footer.d-flex.justify-content-around.mx-3.pt-3.text-nowrap
                div.d-inline-block.mx-1.px-3.fs-sm
                  i.far.fa-clock.pe-2
                  | 1 hr
                div.d-inline-block.mx-1.px-3.fs-sm
                  i.fas.fa-desktop.g-pr-5
                div.d-inline-block.mx-1.px-3.fs-sm
                  i.fas.fa-graduation-cap.pe-2
                  | CME
          #html1a.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;div class=&quot;card card-event&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;div class=&quot;card-status card-status-upcoming&quot;&gt;&lt;span class=&quot;badge bg-info&quot;&gt;Upcoming&lt;/span&gt;&lt;/div&gt;
                    &lt;div class=&quot;h5 card-title&quot;&gt;Oxygen Transport and Monitoring&lt;/div&gt;
                    &lt;div class=&quot;card-meta&quot;&gt;
                      &lt;div class=&quot;card-date-time&quot;&gt;July 12, 2021, 12:00 p.m.&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card-text&quot;&gt;&lt;a class=&quot;card-channel&quot; href=&quot;#&quot;&gt;Neonatology Case Conference and ECMO/iNO/Advanced Respiratory Ventilation Conference&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;card-footer d-flex justify-content-around mx-3 pt-3 text-nowrap&quot;&gt;
                    &lt;div class=&quot;d-inline-block mx-1 px-3 fs-sm&quot;&gt;&lt;i class=&quot;far fa-clock pe-2&quot;&gt;&lt;/i&gt;1 hr&lt;/div&gt;
                    &lt;div class=&quot;d-inline-block mx-1 px-3 fs-sm&quot;&gt;&lt;i class=&quot;fas fa-desktop g-pr-5&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class=&quot;d-inline-block mx-1 px-3 fs-sm&quot;&gt;&lt;i class=&quot;fas fa-graduation-cap pe-2&quot;&gt;&lt;/i&gt;CME&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
