.card-header {
  border-bottom: 0;
}

.card-footer {
  border-top: 0;
}

.card-meta {

  .card-date-time {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin-bottom: 0.625rem;
  }
}

a.card-channel {
  color: $red;
  text-decoration: none;
}

.card-status {
  margin-bottom: 1rem;
}
